body { font-family:Arial, Helvetica, Sans-Serif; font-size:0.8em;}
#tbl { border-collapse:collapse;}
#tbl h4 { margin:0px; padding:0px;}
#tbl img { float:right;}
#tbl ul { margin:10px 0 10px 40px; padding:0px;}
#tbl th { background:#7CB8E2 url(scripts/plugin/header_bkg.png) repeat-x scroll center left; color:#fff; padding:7px 15px; text-align:left;}
#tbl td { background:#C7DDEE none repeat-x scroll center left; color:#000; padding:7px 15px; }
#tbl tr.odd td {cursor:pointer; }
#tbl div.arrow { background:transparent url(scripts/plugin/arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
#tbl div.up { background-position:0px 0px;}