<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>TimeRec</servlet-name>
		<servlet-class>com.laughstyle.TimeRecServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TimeRec</servlet-name>
		<url-pattern>/timerec</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Arrival</servlet-name>
		<servlet-class>com.laughstyle.timerec.Arrival</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Arrival</servlet-name>
		<url-pattern>/arrival</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Leave</servlet-name>
		<servlet-class>com.laughstyle.timerec.leaveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Leave</servlet-name>
		<url-pattern>/leave</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EmployeeList</servlet-name>
		<servlet-class>com.laughstyle.timerec.employeeListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeList</servlet-name>
		<url-pattern>/employeeList</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>TimeRec.jsp</welcome-file>
	</welcome-file-list>
</web-app>
